@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

nav {
    height: 55px;
    display: flex;
    justify-content: space-between;
    /* border: 0.5px solid white; */
    width: 100%;
    padding: 8px 5px;
    padding-bottom: 4px;
    background-color: black;
    position: sticky;
    top: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    /* background-color: pink; */
    border-radius: 25px;
}

.home {
    height: 45px;
    width: 45px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    ;
}

.home img {
    width: 24px;
}

leftnav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;

}

leftnav img {
    filter: invert(1);
}


.spotify-search {
    display: flex;
    align-items: center;
    background: #1f1f1f;
    /* Spotify dark theme */
    border-radius: 25px;
    width: 450px;
    padding: 8px 12px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.spotify-search:hover {
    background: #333333;
}

.spotify-search .icon {
    cursor: pointer;
    color: #fff;
    /* White for contrast */
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify-search .left {
    margin-right: 8px;
}

.spotify-search .right {
    position: absolute;
    right: 12px;
    display: none;
}

.spotify-search .input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 4px 0;
    background: transparent;
    color: #fff;

    /* White input text */
    ::placeholder {
        color: #c6c6c6;
    }
}


/*  css code  for the right navbar */
.rightnav {
    display: flex;
    align-items: center;
    color: rgb(197, 197, 197);
    font-family: "TikTok Sans", sans-serif;
    padding-right: 14px;
    gap: 35px;
    font-size: 14px;
    font-weight: 700;
}

.rightnav:hover {
    cursor: pointer;
    color: white;

}

.firstpart {
    display: flex;
    font-weight: lighter;
    gap: 14px;
    font-weight: 600;
    font-size: 14px;
}

.line {
    height: 25px;
    width: 0px;
    border: 1px solid white;
    border-radius: 9px;
}



.secondpart {
    display: flex;
    gap: 30px;
    font-size: 14px;
    font-weight: lighter;
}

.rightnav button {
    width: 105px;
    height: 45px;
    font-size: 16px;
    font-weight: 700;

    border-radius: 35px;
    background-color: white;
    color: black;
}



/* css to design the left and right container */
.container {
    display: flex;
    height: 88vh;
    width: 100%;
    gap: 10px;
    padding: 0px 6px;
}

.left-container {
    width: 25vw;
    background-color: rgb(16, 15, 15);
    border-radius: 9px;
    display: flex;
    /* overflow-y: scroll; */
    flex-direction: column;
    position: relative;
}

.right-container {
    width: 100vw;
    background-color: rgb(26, 24, 24);
    border-radius: 9px;
    max-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
}

.plus {
    height: 15px;
    width: 15px;
    filter: invert(1);
    padding: 8px;
}

.library-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 650;
}

.footer-left {
    background-color: #121212;
    padding: 0px 14px;
    color: #b3b3b3;
    font-family: Arial, sans-serif;
    width: fit-content;
    position: absolute;
    bottom: 0;

}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-bottom: 11px;
}

.footer-links a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 12px;
    gap: 8px;
}

.footer-links a:hover {
    color: white;
    text-decoration: underline;
}

.footer-language {
    display: flex;
    align-items: center;
}

.language-btn {
    background-color: transparent;
    border: 1px solid #b3b3b3;
    color: white;
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.language-btn:hover {
    border-color: white;
}

.globe-icon {
    fill: white;
    filter: invert(1);
    height: 15px;
}



/* css code for the right container */

.right-heading {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    padding-bottom: 0px;
}

.right-heading:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card-container {
    height: 40vh;
    padding: 0px 14px;
    display: flex;
    width: 100%;
    gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    position: relative;
}

/* Hide scrollbar but allow scrolling */
.card-container::-webkit-scrollbar {
    display: none;
}

.card-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.songs-card {
    height: 40vh;
    margin: 3px;
    width: 13vw;
    min-width: 13vw;
    flex-shrink: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: flex;
    border-radius: 4px;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.songs-card:hover {
    background-color: #333333;

}

.songs-details {
    font-size: 12px;
    color: #949494;
}

.songs-card img {
    height: 64%;
    border-radius: 5px;
}

h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.playbar {
    position: fixed;
    bottom: 0;
    width: 77vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 12px; */
    justify-content: center;
    margin: 2px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.938);
    height: 10vh;

}

.playbar img {
    height: 25px;
    display: flex;

}

.playbar-icons {
    display: flex;
    justify-content: center;
    gap: 32px;
}


/* library songs list */

.songs-list ul li {
    list-style-type: decimal;
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
    justify-content: space-between;
    gap: 9px;
    margin: 8px;

}

.songs-list ul li:hover {
    background-color: #212121;
}

.songs-list {
    color: white;
    /* margin: 10px; */
    height: 65vh;
    border-radius: 14px;
    overflow-y: scroll;
}


.songs-list ul li img {
    color: white;
    /* margin-top: 7px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: invert(1);
}

.info {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    width: 165px;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.playbtn {
    height: 18px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 45px;

}

.playbtn img {
    filter: invert(1);
    height: 9px;
}


.seekbar {
    height: 5px;
    background: rgb(0, 0, 0);
    border-radius: 15px;
    border: none;
    width: 75vw;
    margin: 8px 0px;
    cursor: pointer;
    /* position: relative; */
}

.circle {
    height: 13px;
    width: 13px;
    border-radius: 19px;
    /* position: absolute; */
    position: relative;
    bottom: 3.5px;
    left: 0%;
    background-color: rgb(0, 0, 0);
    transition: left 0.4s;
}

.playbar-icons img:hover {
    cursor: pointer;
}

.songname {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    width: 33%;
    padding-left: 15px;

}

.songtime {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding-right: 15px;
}

.songinfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin: 0 25px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: black;
}

.playbar-icons{
    width: 25%;
}